JWT_SECRET=your_secret_here
FAST2SMS_API_KEY=your_fast2sms_key_here
DATABASE_URL=postgresql://user:password@host.neon.tech/dbname?sslmode=require
CLOUDINARY_CLOUD_NAME=cloud-name
CLOUDINARY_API_KEY=api-key
CLOUDINARY_API_SECRET=api-secret